@use '@/app/globals.scss' as *;

.heroBackground {
  box-sizing: border-box;
  width: 100%;
  height: 100dvh;

  @include fancy-gradient-background;
  @include standard-page-padding;
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 3rem);
  align-items: center;
  justify-content: flex-start;

  color: var(--text-color);
  text-align: center;
}
