:root {
  --primary-color: #ffffff;
  --background-color: #000000;

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #000000;
    --background-color: #ffffff;
  }
}
