:root {
  --primary-color: #8cdb7a;
  --secondary-color: #337a39;
  --accent-color: #ffc642;
  --text-color: #f7f5fa;
  --background-color: #2b2b2b;

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #2b2b2b;
    --background-color: #f7f5fa;
  }
}
