:root {
  --primary-color: #8cdb7a;
  --secondary-color: #337a39;
  --accent-color: #ffc642;
  --text-color: #2b2b2b;
  --background-color: #f7f5fa;

  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--text-color);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--background-color);

  font-synthesis: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f7f5fa;
    --background-color: #2b2b2b;
  }
}
