:root {
  // Colors
  --primary-color: #7a5db8;
  --secondary-color: #0042ac;
  --accent-color: #80d169;
  --muted-color: #bbb;
  --text-color: #2b2b2b;
  --background-color: #f7f5fa;

  // Sizing
  --min-width-laptop: 1024px;
  --min-width-tablet: 720px;
  --min-width-mobile: 375px;

  // Typography
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--text-color);
  text-rendering: optimizelegibility;

  // Layout
  color-scheme: light dark;
  background-color: var(--background-color);

  font-synthesis: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f7f5fa;
    --background-color: #2b2b2b;
  }
}
