@use 'sass:map';

$breakpoints: (
  laptop: 1024px,
  tablet: 720px,
  mobile: 375px,
);

@mixin respond($key) {
  $size: map.get($breakpoints, $key);

  @if not $size {
    @error "Unknown breakpoint `#{$key}`";
  }

  @media (width <= $size) {
    @content;
  }
}

@mixin flex-row($gap, $justify: flex-start) {
  display: flex;
  gap: $gap;
  align-items: center;
  justify-content: $justify;
}

:root {
  // Colors
  --primary-color: #7a5db8;
  --secondary-color: #0042ac;
  --accent-color: #80d169;
  --muted-color: #bbb;
  --text-color: #2b2b2b;
  --background-color: #f7f5fa;

  // Typography
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--text-color);
  text-rendering: optimizelegibility;

  // Layout
  color-scheme: light dark;
  background-color: var(--background-color);

  font-synthesis: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f7f5fa;
    --background-color: #2b2b2b;
  }
}
