@use '@/app/globals.scss' as *;

.heroBackground {
  box-sizing: border-box;
  width: 100%;
  height: 100dvh;
  padding: clamp(2rem, 2vw, 4rem) clamp(1rem, 20vw, 25vw);

  @include fancy-gradient-background;
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 3rem);
  align-items: center;
  justify-content: flex-start;

  color: var(--text-color);
  text-align: center;
}
