.main {
  max-width: clamp(300px, 80vw, 600px);
  margin-top: 4vh;
  font-size: 1.1rem;

  & h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }

  & .heroCtaButton {
    align-self: center;
    margin-top: 2rem;
    padding: 0.75rem 1.75rem;
    font-size: 1.2rem;
  }
}
