.main {
  max-width: clamp(300px, 80vw, 600px);
  margin-top: 4vh;
  font-size: 1.1rem;

  & h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }

  & button {
    cursor: pointer;

    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;

    font-size: 1.2rem;
    color: var(--background-color);

    background-color: var(--text-color);
    box-shadow: none;
  }
}
